@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, rgb(226, 176, 176), rgb(207, 207, 130));
  color: blue;
  font-size: 0.75rem;
  font-weight: bold;
}
